name: Package Application with Pyinstaller (Windows)

on: [release]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Package Application
      uses: JackMcKew/pyinstaller-action-windows@main
      with:
        path: builds/windows

    - uses: actions/upload-artifact@v2
      with:
        name: BetterCinema-Windows
        path: builds/windows/dist/windows # or path/to/artifact
